* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  --primary-color: cadetblue;
  --textcolor: azure;
}

body {
  width: 100vw;
  height: 100vh;
  background-color: blanchedalmond;
  display: flex;
  justify-content: center;
  align-items: center;
}

[data-testid="container"] {
  width: 70%;
  height: 35rem;
  background-color: aliceblue;
  border: 2px solid var(--primary-color);
  display: flex;
  justify-content: space-between;
}

[data-testid="wrapper"] {
  width: 37%;
  height: 100%;
  background-color: var(--primary-color);
  display: flex;
  flex-direction: column;
  padding: 4rem 0;
  align-items: center;
  justify-content: center;
  border-right: 2px solid var(--primary-color);
}

[data-testid="slackProfilePicture"] {
  width: 15rem;
  height: 15rem;
  border-radius: 50%;
}

[data-testid="slackDisplayName"],
[data-testid="slackEmail"] {
  color: var(--textcolor);
}

[data-testid="socialLink"] {
  width: 60%;
  height: max-content;
  display: flex;
  justify-content: space-evenly;
  margin: 2rem 0 0;
}

[data-testid="socialLink"] a img {
  width: 2rem;
  opacity: 0.7;
}

[data-testid="socialLink"] a img:hover {
  opacity: 1;
}

[data-testid="cardInfo"] {
  width: 60%;
  height: 100%;
  padding: 3rem 2rem;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 2rem;
}

footer {
  width: 100%;
  display: flex;
  justify-content: center;
  gap: 15px;
}

[data-testid="hngLink"],
[data-testid="keywordLink"],
[data-testid="scrapeanyWebLink"] {
  text-decoration: none;
  color: black;
  font-style: italic;
}

[data-testid="hngLink"]:hover,
[data-testid="keywordLink"]:hover,
[data-testid="scrapeanyWebLink"]:hover {
  text-decoration: underline;
  color: var(--primary-color);
}
